# SPDX-FileCopyrightText: (C) 2026 Marco Celoria <celoria.marco@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

black==26.1.0
click==8.3.1
cupy-cuda12x==13.6.0
cutensor-cu12==2.3.1
fastrlock==0.8.3
flake8==7.3.0
iniconfig==2.3.0
isort==7.0.0
librt==0.7.8
mccabe==0.7.0
mpi4py==4.1.0
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.4.0
numpy-typing-compat==20251206.2.4
optype==0.15.0
packaging==25.0
pathspec==1.0.3
platformdirs==4.5.1
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==9.0.2
pytokens==0.4.0
scipy==1.17.0
scipy-stubs==1.17.0.1
typing_extensions==4.15.0
